<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ffd27752-cf75-4e70-9c7c-5a8391778266/resourcegroups/WebGUIResourceGroup/providers/Microsoft.Web/sites/WebGUI20170917035109</ResourceId>
    <ResourceGroup>WebGUIResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webgui20170917035109.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webgui20170917035109.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebGUI20170917035109</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebGUI20170917035109</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:webgui20170917035109dbserver.database.windows.net,1433;Initial Catalog=WebGUI20170917035109_db;User ID=RishatZagidullin@webgui20170917035109dbserver;Password=Hueyfreeman08" Name="Data Source=tcp:webgui20170917035109dbserver.database.windows.net,1433;Initial Catalog=WebGUI20170917035109_db;User Id=RishatZagidullin@webgui20170917035109dbserver;Password=Hueyfreeman08" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Domain.Concrete.EFDbContext, Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webgui20170917035109dbserver.database.windows.net,1433;Initial Catalog=WebGUI20170917035109_db;User Id=RishatZagidullin@webgui20170917035109dbserver;Password=Hueyfreeman08</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>